@page "/request-type-admn"

<PageTitle>Request Type</PageTitle>

<h3>Request Type Admin</h3>

<MudItem Class="m-3">
    <p>This will display all request types with the option: </p>
</MudItem>

<MudItem Class="m-3">
    <p>Add</p>
    <p>Edit</p>
    <p>De-activate</p>
</MudItem>


@code {

}
 